
<mat-toolbar>
    <mat-toolbar-row class="justify-content-between mt-1">
        <button mat-icon-button  (click)="toggleSidebar()" ><mat-icon>menu</mat-icon></button>
        <div class="row mr-2 ml-auto ">
            <ul>
                <li>
                    <button mat-stroked-button class="user mt-3 d-flex align-item-center">
                        <mat-icon>account_circle</mat-icon>
                        Sign in
                    </button>
                  
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>