<div class="container-fluid page">
    <div class="page_box p-3 mt-2">Home</div>
    <div class="page_content shadow p-3 position-relative">
        <div class="page_content-data position-absolute text-center">
              Home Content Goes here
        </div>
        
    </div>
    
    <div class="page_content shadow mt-3 position-relative">
        <div class="page_content-data position-absolute text-center d-flex">
            <mat-card class="example-card shadow m-1 " >
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Small</mat-card-subtitle>
                    <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                  </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
             
                </mat-card-content>
            </mat-card>
              
              <mat-card class="example-card shadow m-1">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Medium</mat-card-subtitle>
                    <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"  alt="Image of a Shiba Inu">
                  </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                
                </mat-card-content>
              </mat-card>
              
              <mat-card class="example-card shadow m-1">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Large</mat-card-subtitle>
                    <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                  </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                 
                </mat-card-content>
              </mat-card>
              
              <mat-card class="example-card shadow m-1">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Extra large</mat-card-subtitle>
                    <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                  </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                
                </mat-card-content>
              </mat-card>
        </div>
        
    </div>

</div>
